main {
    margin: 50px 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
}

button {
    padding: 0 20px;
    height: 45px;
    font-size: 17px;
    background: transparent;
    border-radius: 3px;
    color: white;
    margin-right: 15px;
}

.movies {
    border: 1px rgb(63, 72, 204) solid;
}

.movies:hover {
    background-color: rgb(63, 72, 204, .4);
    cursor: pointer;
}

.tvShows {
    background-color: rgb(0, 168, 243);
    border: 1px rgb(0, 168, 243) solid;
}

.tvShows:hover {
    cursor: pointer;
}

.all {
    border: 1px rgb(21, 203, 161) solid;
    color: rgb(21, 203, 161);
}

.all:hover {
    background-color: rgb(21, 203, 161, .4);
    color: white;
    cursor: pointer;
}

input {
    height: 42px;
    width: 70%;
    border: none;
    border-radius: 5px;
    outline: none;;
    font-size: 20px;
    margin-left: 15px;
    padding-left: 20px;
}

