<main>
    <nav>
        <div class="buttons">
            <button class="movies" routerLink='/movies' routerLinkActive="movies-active">Movies</button>
            <button class="tvShows" routerLink='/tv-shows' routerLinkActive="tvShows-active">TV Shows</button>
            <button class="all" routerLink='/all' routerLinkActive="all-active">All</button>
        </div>
        <input [formControl]="queryControl" type="text" placeholder="search">
    </nav>
    <mat-spinner 
        color="accent"
        class="spinner"
        [mode]="'indeterminate'"
        *ngIf="loading$ | async"
    ></mat-spinner>
    <router-outlet></router-outlet>
</main>

<!-- <mat-checkbox color="accent">Check me!</mat-checkbox> -->