<main>
    <nav>
        <div class="buttons">
            <button class="movies">Movies</button>
            <button class="tvShows">TV Shows</button>
            <button class="all">All</button>
        </div>
        <input type="text" placeholder="search">
    </nav>
    <section>
      <app-film-card></app-film-card>
      <app-film-card></app-film-card>
      <app-film-card></app-film-card>
      <app-film-card></app-film-card>
      <app-film-card></app-film-card>
      <app-film-card></app-film-card>
      <app-film-card></app-film-card>
      <app-film-card></app-film-card>
      <app-film-card></app-film-card>
    </section>
</main>


<!--<mat-checkbox color="accent">Check me!</mat-checkbox>-->