.example-card {
    width: 350px;
    height: 670px;
    /* min-width: 382px; */
    background-color: rgb(39, 45, 58);
    color: white;
    margin: 20px;
}

img {
    background-image: url('/default-poster.jpg');
    background-size: cover;
    width: 250px;
    height: 400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subTitle {
    color: rgb(101, 106, 126);
    margin-bottom: 15px;
}

button {
    padding: 0 20px;
    width: 95%;
    height: 40px;
    font-size: 17px;
    background: transparent;
    border-radius: 3px;
    color: white;
    margin-right: 15px;
    border: 1px rgb(63, 72, 204) solid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background-color: rgb(63, 72, 204, .4);
    cursor: pointer;
}

.footer {
    text-align: center;
    padding-bottom: 7px;
}

p{
    height: 60px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}
