<mat-card class="example-card">
    <img [src]="posterPath ? posterPictureUrl+posterPath : 'assets/default-poster.jpg'" alt="Poster">
    <mat-card-header style="display: block;">
      <div class="title">{{title}}</div>
      <div class="subTitle">{{releaseDate}}</div>
    </mat-card-header>
    <mat-card-content class="description">
      <p>{{description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button>View IMDB</button>
    </mat-card-actions>
    <mat-card-footer class="footer">
        <hr>
      IMDB<br>
      {{voteAverage}}/10    
    </mat-card-footer>
  </mat-card>
